# Files
.lock-waf*
mod-ams-lv2.cbp
mod-ams-lv2.layout
debug_ingen.sh
debug_jalv.sh
mod-ams-lv2.config
mod-ams-lv2.creator
mod-ams-lv2.creator.user*
mod-ams-lv2.files
mod-ams-lv2.includes
*.pyc


# Directory
.waf*
build
tools/waf/__pycache__/

.DS_Store
