# Files
.lock-waf*
ams-lv2.cbp
ams-lv2.layout
debug_ingen.sh
debug_jalv.sh
ams-lv2.config
ams-lv2.creator
ams-lv2.creator.user*
ams-lv2.files
ams-lv2.includes
*.pyc


# Directory
.waf*
build
tools/waf/__pycache__/
